@import url(../base.css);

@media (max-width: 600px) {
    .showcase-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.showcase-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
    justify-content: center;
}

main {
    background: linear-gradient(180deg, rgb(254, 234, 192) 0%, #f9cf83 100%);
    border-left: rgb(222, 185, 91) solid;
    border-right: rgb(222, 185, 91) solid;
}

div.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

article.showcase {
    padding: 20px;
    margin: 0;
    background: rgb(255, 247, 230);
    border: #e07a5f dashed 1.5px;
}

.showcase:hover {
    background: rgb(247, 196, 154);
}

p {
    margin: 0;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.4;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    margin: 5px;
}

.core {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: #fde5e5;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #5f3526;
    font-weight: bold;
    border: #5f3526 solid 1.5px;
}

button:hover {
    background: #f27f72;
    color: white;
    border: none;
}

.introduction p {
    text-align: left;
    width: 90%;
}

article {
    width: 400px;
}