@import url(../base.css);

main {
    background: linear-gradient(180deg, rgb(167, 168, 241) 0%, #c1e3f3 100%);
    border-left: rgb(143, 144, 216) solid;
    border-right: rgb(143, 144, 216) solid;
}

p {
    margin: 5px 5px 40px 5px;
}

.core p {
    margin-top: 10px;
    text-align: left;
    margin: 30px;
}