@import url(../base.css);

main {
    background: linear-gradient(180deg, rgb(197, 224, 165) 0%, #a2dac4 100%);
}

#teamphoto {
    border: dashed;
    border-width: 3px;
    border-color: white;
    height: 400px;
}