@import url(../base.css);

article p {
    margin: 30px;
}

main {
    border-left: rgb(190, 172, 211) solid;
    border-right: rgb(190, 172, 211) solid;
}

@media (max-width: 600px) {

    article {
        width: 90%;
    }

    h3 {
        margin: 20px 5%;
    }

}